h1 {
   background: red;
}

.paragraph-1 {
 background: blue;
 font-size: 32pt;
 color: green;
}

.paragraph-2 {
 border: 10px solid yellow;
 border-radius: 5px;
 font-size: 24pt;
 margin-bottom: 60px;
 padding-bottom: 60px;
 padding-left: 60px

}

.paragraph-3 {
 font-weight: bold;
 font-size: 22px;
 font-family: Courier New;
 box-shadow: 0 0 5px 2px green;
}

.paragraph-4 {
font-size: 24px;
text-align: center;
font-style: oblique;

}